/*
    COMMON
*/
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/*
    MENU
*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.4);
    border:  transparent;
}

.navbar-brand {
    height: auto;
}

.navbar-brand > .antoine {
    margin-top: -10px;
    height: 40px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li.active .nav-item {
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    color: #ffffff;
}

/*
    SECTION
*/

.splash-image {
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.section {
    width: 100%;
    position: relative;
    display: table;
    overflow: hidden;
}
.section h2.title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-fullpage {
    min-height: 100vh;
    height: 100vh;
}

.section-content {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.section-white {
    background: rgba(255, 255, 255, 1);
}

.section-black {
    background: rgba(0, 0, 0, 1);
}

.section-black h2 {
    color: white;
}

/*
    SKILLS
*/

.skill-item {
    background: white;
    color: black;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
}

.skill-item:hover {
    background: black;
    color: white;
    border-color: white;
    cursor: hand;
}

.skill-item .title {
    font-size: 18pt;
}

.skill-item .row {
    margin-top: 5px;
}

/*
    PORTFOLIO
*/

.portfolio-item {
    border: 1px solid white;
    margin-bottom: 25px;
    width: 223px;
}

/*
    CONTACT
*/

.contact .container {
    text-align: center;
}

.contact .btn {
    width: 300px;
    background: transparent;
    color: white;
}

.contact .btn:hover {
    width: 300px;
    background: white;
    color: black;
}