/*
    COMMON
*/

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url('font/HelveticaNeue-Thin.otf');
}

body {
    font-family: "Helvetica Neue Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 40pt;
    font-weight: lighter;
}

/*
    MENU
*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.4);
    border:  transparent;
}

.navbar-brand {
    height: auto;
    line-height: 30px;
}

.navbar-brand > .antoine {
    margin-top: -5px;
    height: 40px;
}

.navbar-nav > li > a {
    line-height: 30px;
    font-size: 14pt;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li.active .nav-item {
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    color: #ffffff;
}

/*
    SECTION
*/

.splash-image {
    z-index: -9999;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.section {
    width: 100%;
    position: relative;
    display: table;
    overflow: hidden;
}
.section h2.title {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-fullpage {
    min-height: 100vh;
    height: 100vh;
}

.section-content {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.section-content-top {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
}

.section-white {
    background: rgba(255, 255, 255, 1);
}

.section-black {
    background: rgba(0, 0, 0, 1);
}

.section-black h2 {
    color: white;
}

.section a.btn {
    background: transparent;
    border-color: black;
}

.section a.btn:hover {
    background: rgba(255, 255, 255, 0.5);
}


/*
    HOME
*/
#home h2 {
    font-size: 60px;
}

#home p {
    font-size: 16px;
}

/*
    SKILLS
*/

.skill-item {
    background: white;
    color: black;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

.skill-item:hover {
    background: black;
    color: white;
    border-color: white;
    cursor: hand;

            transition: background .25s linear;
       -moz-transition: background .25s linear;
    -webkit-transition: background .25s linear;
}

.skill-item .icon {
    width: 32px;
    height: 32px;
}

.skill-item       .icon.icon-print { background-image: url(../images/icons/print-noir.png); }
.skill-item:hover .icon.icon-print { background-image: url(../images/icons/print-blanc.png); }

.skill-item       .icon.icon-branding { background-image: url(../images/icons/branding-noir.png); }
.skill-item:hover .icon.icon-branding { background-image: url(../images/icons/branding-blanc.png); }

.skill-item       .icon.icon-webdesign { background-image: url(../images/icons/webdesign-noir.png); }
.skill-item:hover .icon.icon-webdesign { background-image: url(../images/icons/webdesign-blanc.png); }

.skill-item       .icon.icon-signaletique { background-image: url(../images/icons/signaletique-noir.png); }
.skill-item:hover .icon.icon-signaletique { background-image: url(../images/icons/signaletique-blanc.png); }

.skill-item       .icon.icon-prepresse { background-image: url(../images/icons/prepresse-noir.png); }
.skill-item:hover .icon.icon-prepresse { background-image: url(../images/icons/prepresse-blanc.png); }

.skill-item       .icon.icon-divers { background-image: url(../images/icons/divers-noir.png); }
.skill-item:hover .icon.icon-divers { background-image: url(../images/icons/divers-blanc.png); }

.skill-item .title {
    font-size: 18pt;
    margin-left: 10px;
    cursor: default;
}

.skill-item .content {
    font-size: 10pt;
    cursor: default;
}

/*
    PORTFOLIO
*/

.portfolio-item {
    border: 1px solid white;
    width: 180px;
    margin: 10px auto;
    cursor: pointer;
}

.portfolio-item img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.portfolio-item img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

.portfolio-item .title {
    display: none;
}

.portfolio-item:hover .title {
    display: block;
    position: absolute;
    text-align: center;
    height: 20px;
    bottom: 20px;
    width: 180px;
    color: black;
}

section.portfolio {
    width: 80%;
    margin: 100px auto;
}

section.portfolio .breadcrumb {
    background: white;
    font-size: 12pt;
}

section.portfolio .breadcrumb a,
section.portfolio .breadcrumb a:visited {
    color: #BBBDBE;
}

section.portfolio .portfolio-head {
    display: inline-block;
    text-align: center;
}

section.portfolio .portfolio-head > h1,
section.portfolio .portfolio-head > p {
    margin: 0;
}

section.portfolio .portfolio-content {
    margin-top: 20px;
}

section.portfolio .portfolio-content img {
    margin-bottom: 30px;
}

section.portfolio .button:hover {
    background-color: black;
}


.button:hover span.icon-home { background-image: url("../images/icons/home-blanc.png"); }
              span.icon-home { background-image: url("../images/icons/home-noir.png"); }

.button:hover span.icon-fermer { background-image: url("../images/icons/fermer-blanc.png"); }
              span.icon-fermer { background-image: url("../images/icons/fermer-noir.png"); }

.button:hover span.icon-fleche-gauche { background-image: url("../images/icons/fleche-gauche-blanc.png"); }
              span.icon-fleche-gauche { background-image: url("../images/icons/fleche-gauche-noir.png"); }

.button:hover span.icon-fleche-droite { background-image: url("../images/icons/fleche-droite-blanc.png"); }
              span.icon-fleche-droite { background-image: url("../images/icons/fleche-droite-noir.png"); }

/*
    CLIENTS
*/

.client-item a {
    cursor: default;
}

.client-item {
    border: 1px solid white;
    margin-bottom: 25px;

    opacity: 0.5;
            transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.client-item:hover {
    opacity: 1;
}

.client-item img {
    margin: 0 auto;
}

/*
    CONTACT
*/

#contact .container {
    text-align: center;
}

#contact a {
    color: white;
}

#contact a:hover {
    color: black;
}

#contact a.large {
    margin: 0 10px;
    width: 300px;
}

#contact .icon-mail {
    background-image: url("../images/icons/mail-blanc.png");
}

#contact .button:hover .icon-mail {
    background-image: url("../images/icons/mail-noir.png");
}

#contact .icon-tel {
    background-image: url("../images/icons/tel-blanc.png");
}

#contact .button:hover .icon-tel {
    background-image: url("../images/icons/tel-noir.png");
}

#contact .icon-linkedin {
    background-image: url("../images/icons/linkedin-blanc.png");
}

#contact .button:hover .icon-linkedin {
    background-image: url("../images/icons/linkedin-noir.png");
}

/*
    FOOTER
*/
footer .section-content {
    padding-top: 0;
    padding-bottom: 0;
}

/*
    BUTTON
*/

a.button {
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    background-color: transparent;
}

a.button-white {
    border-color: white;
}

a.button:visited {
    color: black;
    text-decoration: none;
}

a.button:hover {
    background-color: white;
}

a.button>span.icon {
    float: left;
}

a.button>span.text {
    float: right;
    margin-left: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
}

a.button>.button-content {
    display: inline-block;
    margin: 0 auto;
    width: auto;
}

a.button>.button-content>span.icon,
a.button>.button-content>span.text {
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
}

a.button>.button-content>span.text {
    margin-left: 10px;
}

/*
    ICONS
*/
span.icon {
    position: relative;
    top: 1px;
    display: table-cell;
    line-height: 16px;
    height: 32px;
    padding-left: 32px;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

span.icon-download { background-image: url("../images/icons/telecharge-noir.png");   }
span.icon-arrow-down { background-image: url("../images/icons/fleche-bas-noir.png"); }

span.icon-print { background-image: url("../images/icons/print-noir.png"); }
span.icon-pencil { background-image: url("../images/icons/branding-noir.png"); }
span.icon-webdesign { background-image: url("../images/icons/webdesign-noir.png"); }
span.icon-signaletique { background-image: url("../images/icons/signaletique-noir.png"); }
span.icon-prepresse { background-image: url("../images/icons/prepresse-noir.png"); }
span.icon-divers { background-image: url("../images/icons/divers-noir.png"); }

span.icon-mail { background-image: url("../images/icons/mail-noir.png"); }
span.icon-tel { background-image: url("../images/icons/tel-blanc.png"); }
span.icon-tel:hover { background-image: url("../images/icons/tel-noir.png"); }