<!DOCTYPE html>
<html ng-app="tounApp" ng-controller="MainCtrl">
<head lang="fr">
    <!-- title -->
    <title>Antoine Perhirin</title>
    <!-- Common meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site web d'Antoine Perhirin">
    <meta name="keywords" content="graphiste,photoshop,adobe,portfolio">
    <meta name="author" content="Antoine Perhirin">
    <!-- Open Graph meta -->
    <meta property="og:title" content="Antoine Perhirin">
    <meta property="og:image" content="images/antoine.png">
    <meta property="og:description" content="Site web d'Antoine Perhirin">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/favicon-antoine.png">
    <!-- css imports -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><img class="antoine" src="images/antoine.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="mainMenu" class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home"><span class="nav-item">je suis, j'apporte</span></a></li>
                    <li><a href="#skills"><span class="nav-item">savoir-faire</span></a></li>
                    <li><a href="#portfolio"><span class="nav-item">portfolio</span></a></li>
                    <li><a href="#clients"><span class="nav-item">clients</span></a></li>
                    <li><a href="#contact"><span class="nav-item">contact</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="splash-image"></div>

    <!-- HOME SECTION -->
    <section id="home" class="section section-fullpage">
        <div class="section-content">
            <div class="row" data-anchor="home">
                <div class="col-md-6 col-md-offset-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>je suis</h2>
                            <p>Antoine Perhirin, 34 ans.</p>
                            <p>Un cr&eacute;atif passionn&eacute; combin&eacute; d'un technicien exp&eacute;riment&eacute;.</p>
                            <p>Curieux, conscencieux et m&eacute;thodique.</p>
                            <p>Adepte du travail en &eacute;quipe et n&eacute;anmoins autonome.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>j'apporte</h2>
                            <p>Ma sensiblit&eacute; graphique et mon expertise de la chaine graphique.</p>
                            <p>13 ann&eacute;es d'exp&eacute;riences en bureau de fabrication imprimerie et signal&eacute;tique.</p>
                            <p>5 ann&eacute;es en tant que responsable d'un studio de cr&eacute;ation / pr&eacute;presse.</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-6">
                            <a class="btn btn-default btn-lg" href="data/cv.pdf" role="button" target="_blank">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;consulter mon cv
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-default btn-lg" href="#skills" role="button">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SKILLS SECTION -->
    <section id="skills" class="section section-white">
        <div class="section-content">
            <h2 class="title">savoir-faire</h2>
            <div class="row">
                <div class="col-md-4" ng-repeat="skill in skills">
                    <div class="skill-item">
                        <div class="row">
                            <div class="col-md-2 icon"><span class="glyphicon glyphicon-{{skill.glyphicon}}" aria-hidden="true"></span></div>
                            <div class="col-md-10 title"><span ng-bind-html="skill.title"></span></div>
                        </div>
                        <div class="row" ng-repeat="p in skill.content">
                            <div class="col-md-offset-2 col-md-10">
                                <span ng-bind-html="p"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PORTFOLIO SECTION -->
    <section id="portfolio" class="section section-black">
        <div class="section-content">
            <h2 class="title">portfolio</h2>
            <div class="row" ng-repeat="line in portfolio.lines">
                <div class="col-md-3" ng-repeat="item in line">
                    <div class="portfolio-item">
                        <a ng-if="item.link != undefined" href="{{item.link}}" target="_blank">
                            <img class="img-responsive" src="{{portfolio.baseDir}}{{item.image}}" alt="{{item.description}}">
                        </a>
                        <img ng-if="item.link == undefined" class="img-responsive" src="{{portfolio.baseDir}}{{item.image}}" alt="{{item.description}}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CLIENTS SECTION -->
    <section id="clients" class="section section-white">
        <div class="section-content">
            <h2 class="title">clients</h2>
            <div class="row">
                <div class="col-md-2" ng-repeat="item in clients.items">
                    <div class="client-item">
                        <a ng-if="item.link != undefined" href="{{item.link}}" target="_blank">
                            <img class="img-responsive" src="{{clients.baseDir}}{{item.image}}" alt="{{item.description}}">
                        </a>
                        <img ng-if="item.link == undefined" class="img-responsive" src="{{clients.baseDir}}{{item.image}}" alt="{{item.description}}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT SECTION -->
    <section id="contact" class="section section-black contact">
        <div class="section-content text-center">
            <h2 class="title">contact</h2>
            <a class="btn btn-default btn-lg" href="mailto:{{app.contact.mail}}" role="button">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;{{app.contact.mail}}
            </a>
            <a class="btn btn-default btn-lg" href="tel:{{app.contact.phoneLink}}" role="button">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;{{app.contact.phone}}
            </a>
        </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="section section-white text-right">
        <div class="section-content">
            <small>développement : <a href="{{app.credits.developer.link}}" target="_blank">{{app.credits.developer.name}}</a> | photo portrait : <a href="{{app.credits.photograph.link}}" target="_blank">{{app.credits.photograph.name}}</a</small>
        </div>
    </footer>

    <!-- TODO : replace with .min.js versions  -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>