<div ng-controller="PortfolioCtrl">
    <section class="portfolio section animated fadeIn">
        <div class="row">
            <div class="col-md-1 pull-left">
                <a class="button" href="#home" role="button">
                    <span class="icon icon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><a href="#home">accueil</a></li>
                    <li><a href="#home">portfolio</a></li>
                    <li class="active">{{title}}</li>
                </ol>
            </div>
            <div class="col-md-1">
                <a class="button" href="#home" role="button">
                    <span class="icon icon-fermer" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a class="button" href="#portfolio/{{prev}}" role="button" ng-show="prev != undefined">
                    <span class="icon icon-fleche-gauche" aria-hidden="true"></span>
                </a>
            </div>

            <div class="portfolio-head col-md-10">
                <h1>{{title}}</h1>
                <p>{{details}}</p>
            </div>

            <div class="col-md-1">
                <a class="button" href="#portfolio/{{next}}" role="button" ng-show="next != undefined">
                    <span class="icon icon-fleche-droite" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="portfolio-content">
            <!--
                Single +--------+
                       |  img1  |
                       +--------+
            -->
            <div class="row" ng-if="layout == 'single'">
                <div class="col-md-12">
                    <img class="img-responsive center-block" src="{{images[1]}}" alt="{{images[1]}}">
                </div>
            </div>
            <!--
                VBox +--------+
                     |  img1  |
                     +--------+
                     |  img2  |
                     +--------+
            -->
            <div class="row" ng-if="layout == 'vbox'">
                <div class="col-md-12">
                    <img class="img-responsive center-block" ng-repeat="image in images" ng-if="$index > 0" src="{{image}}" alt="{{image}}">
                </div>
            </div>
            <!--
                HBox +--------+--------+
                     |  img1  |  img2  |
                     +--------+--------+
            -->
            <div class="row" ng-if="layout == 'hbox'">
                <div class="col-md-6">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $even" src="{{image}}" alt="{{image}}">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $odd" src="{{image}}" alt="{{image}}">
                </div>
            </div>
            <!--
                Large Left +--------+----+
                           |  img1  |img3|
                           +--------+----+
                           |  img2  |img4|
                           +--------+----+
            -->
            <div class="row" ng-if="layout == 'large-left'">
                <div class="col-md-8">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $even" src="{{image}}" alt="{{image}}">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $odd" src="{{image}}" alt="{{image}}">
                </div>
            </div>
            <!--
                Large Top +-----------------+
                          |      img1       |
                          +--------+--------+
                          |  img2  |  img3  |
                          +--------+--------+
            -->
            <div ng-if="layout == 'large-top'">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive center-block" src="{{images[1]}}" alt="{{images[1]}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 1 && $even" src="{{image}}" alt="{{image}}">
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 1 && $odd" src="{{image}}" alt="{{image}}">
                    </div>
                </div>
            </div>

            <!--
                Ste  +-----------------+
                     |      img1       |
                     +--------+--------+
                     | img2 |img3| html|
                     +--------+--------+
            -->
            <div ng-if="layout == 'ste'">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive center-block" src="{{images[1]}}" alt="{{images[1]}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive" src="{{images[2]}}" alt="{{images[2]}}">
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="{{images[3]}}" alt="{{images[3]}}">
                    </div>
                    <div class="col-md-4">
                        <div ng-bind-html="images[4]"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>