<div ng-controller="PortfolioCtrl">
    <div ng-if="isLoading" ng-include src="'views/spinner.html'"></div>
    <section ng-if="!isLoading" class="portfolio section animated fadeIn">
        <div class="row">
            <div class="col-md-1 pull-left">
                <a class="btn btn-default btn-lg" href="#home" role="button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><a href="#home">accueil</a></li>
                    <li><a href="#home">portfolio</a></li>
                    <li class="active">{{title}}</li>
                </ol>
            </div>
            <div class="col-md-1">
                <a class="btn btn-default btn-lg pull-right" href="" role="button">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-default btn-lg" href="#portfolio/{{prev}}" role="button" ng-show="prev != undefined">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>

            <div class="portfolio-head col-md-10">
                <h1>{{title}}</h1>
                <p>{{details}}</p>
            </div>

            <div class="col-md-1">
                <a class="btn btn-default btn-lg pull-right" href="#portfolio/{{next}}" role="button" ng-show="next != undefined">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="portfolio-content">
            <div class="row" ng-if="layout == 'vert'">
                <div class="col-md-12">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0" src="{{image}}" alt="{{image}}">
                </div>
            </div>
            <div class="row" ng-if="layout == undefined && images.length == 3">
                <div class="col-md-6">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $even" src="{{image}}" alt="{{image}}">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $odd" src="{{image}}" alt="{{image}}">
                </div>
            </div>
            <div class="row" ng-if="layout == undefined && images.length > 3">
                <div class="col-md-8">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $even" src="{{image}}" alt="{{image}}">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" ng-repeat="image in images" ng-if="$index > 0 && $odd" src="{{image}}" alt="{{image}}">
                </div>
            </div>
        </div>
    </section>
</div>